html, body, section, article, header,
h1, h2, h3, p, strong, em, a, ul, div, img {
 margin: 0;
 border: 0;
 padding: 0;
 outline: 0;

 box-sizing: inherit;
 font: inherit;
 text-decoration: inherit;
 text-align: inherit;
 color: inherit;

 background: transparent;
 list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

html, body {
  height: 100%;
  font-family: "Arial";
  font-weight: bold;
}

svg {
  display: block;
  position: absolute;
  overflow: hidden;
}

div {
  display: inline-block;
  height: 500px;
  width: 500px;
}

.div1 {
  background: yellow;
}

.div2 {
  background: lightblue;
}

.div3 {
  background: pink;
}
